/* global rules start */

div.content-container {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-left: 15px;
}

// media query
/* small screen */
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }

  .services .services-columns .serv {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium screen */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large screens */

@media (max-width: 1200px) {
  .img-col {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* global rules end */
