<div class="content-container">
  <!-- start header -->
    <div class="header">
      <div class="container">
        <img class="logo" [src]="logo" alt="" />
        <div class="links">
          <span class="icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <ul>
            <li><a href="#services"> Services</a></li>
            <li><a href="#services"> Portfolio</a></li>
            <li><a href="#services"> About</a></li>
            <li><a href="#services"> Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- end header -->
    <!-- start Landing Section -->
    <div class="landing">
      <div class="intro-text">
        <h1>Hello There!</h1>
        <p>We are Leon - Super Creative & Minimal Agency Web Template</p>
      </div>
    </div>
    <!-- end Landing Section -->

    <!-- Start Features -->
    <div class="features">
      <div class="container">
        <div class="feat">
            <fa-icon [icon]="wandMagicSparkles" class="fa-3x icon"></fa-icon>
          <!-- <i class="fa-sharp fa-solid fa-wand-magic-sparkles "></i> -->
          <h3>Tell Us Your Idea</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut lab
          </p>
        </div>
        <div class="feat">
            <fa-icon [icon]="gem" class="fa-3x icon"></fa-icon>
          <!-- <i class="fa-regular fa-gem fa-3x"></i> -->
          <h3>Tell Us Your Idea</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut lab
          </p>
        </div>
        <div class="feat">
            <fa-icon [icon]="globeAsia" class="fa-3x icon"></fa-icon>
            <!-- <i class="fa-sharp fa-solid fa-globe-asia fa-3x"></i> -->
            <h3>Tell Us Your Idea</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut lab
            </p>
        </div>
    </div>
</div>
<!-- End Features -->

<!-- Start Services -->
<div class="services">
    <div class="container">
        <h2 class="special-heading">Services</h2>
        <p>Don't be busy, be productive</p>
        
        <div class="services-columns">
            <!-- Start Service Cols -->
            <div class="col">
                <div class="serv">
                <fa-icon [icon]="palette" class="fa-2x icons"></fa-icon>
                <!-- <i class="fa-solid fa-palette fa-2x"></i> -->
                <div class="content">
                    <h3>Graphic Design</h3>
                    <p>
                        Graphic design is the process of visual communication and
                        problem-solving using one or more of typography, photography
                        and illustration.
                    </p>
                </div>
            </div>
            
            <div class="serv">
                <fa-icon [icon]="sketch" class="fa-2x icons"></fa-icon>
              <!-- <i class="fa-brands fa-sketch fa-2x"></i> -->
              <div class="content">
                <h3>UI & UX</h3>
                <p>
                  Process of enhancing user satisfaction with a product by
                  improving the usability, accessibility, and pleasure provided
                  in the interaction.
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="serv">
              <fa-icon [icon]="vectorSquare" class="fa-2x icons"></fa-icon>
              <!-- <i class="fa-solid fa-vector-square fa-2x"></i> -->
              <div class="content">
                <h3>Web Design</h3>
                <p>
                  Web design encompasses many different skills and disciplines
                  in the production and maintenance of websites.
                </p>
              </div>
            </div>
            <div class="serv">
              <fa-icon [icon]="penRuler" class="fa-2x icons"></fa-icon>
              <!-- <i class="fa-solid fa-pen-ruler fa-2x"></i> -->
              <div class="content">
                <h3>Web Development</h3>
                <p>
                  Web development is a broad term for the work involved in
                  developing a web site for the Internet or an intranet.
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="image img-col">
              <img [src]="services" alt="" />
            </div>
          </div>
          <!-- End Service Cols -->
        </div>
      </div>
    </div>
    <!-- End Services -->
</div>
